@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* npm install tailwindcss @tailwindcss/cli */
/* npx @tailwindcss/cli -i ./static/css/tailwind.css -o ./static/css/main.css --watch */
/* <link href="./output.css" rel="stylesheet"> */
@import "tailwindcss";

@theme {
  --color-primary-50: #fffdea;
  --color-primary-100: #fff9c5;
  --color-primary-200: #fff486;
  --color-primary-300: #ffe846;
  --color-primary-400: #ffd71c;
  --color-primary: #FEB702;
  --color-primary-600: #e18c00;
  --color-primary-700: #bb6302;
  --color-primary-800: #974c09;
  --color-primary-900: #7c3e0b;
  --color-primary-950: #7c3e0b;

  --color-blanco: #FFFFFF;
  --color-negro: #282828;
  --color-fondo: #E3E6E6;

  --font-roboto: "Roboto", sans-serif;
}


@import "tailwindcss";