<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lender V3</title>
    <link href="../static/css/main.css" rel="stylesheet">
</head>

<body class="bg-fondo h-screen flex flex-col">
    <!-- Contenedor principal que ocupa el espacio disponible -->
    <div class="flex-grow">
        {% block contenido %}{% endblock %}
    </div>

    <!-- Footer fijo abajo -->
    <footer class="bg-gray-800 text-white w-full">
        <div class="container mx-auto text-center">
            <p>&copy; 2025 Lender V3. All rights reserved. Daniel Trejos.</p>
        </div>
    </footer>
</body>


</html>