{% extends 'base.html' %}

{% block contenido %}


<!-- Contenedor principal -->
<div class="flex bg-white rounded-lg shadow-xl overflow-hidden mx-auto p-3 lg:min-w-6xl">
    <!-- Division Izquierda -->
    <div class="hidden lg:block lg:w-1/2 bg-contain bg-no-repeat bg-center "
        style="background-image:url('../static/img/img11.svg')">
    </div>
    <!-- Division Derecha -->
    <div class="w-full p-8 lg:w-1/2 flex flex-col">

        <div class="container flex flex-col">
            <!-- Volver -->
            <a href="{{ url_for('auth_bp.index') }}" class="flex items-center text-primary hover:text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 5 5 12 12 19"></polyline>
                </svg>
                <span class="text-negro">Volver</span>
            </a>
            <!-- Titulo y logo -->
            <h2 class="text-2xl font-semibold text-gray-700 text-center">Lender V3</h2>
            <div class="flex justify-center m-2">
                <img src="../static/img/logo.svg" alt="Logo" class="w-16 h-16">
            </div>
            <p class="text-xl text-negro text-center">Bienvenido a tus soliciones financieras</p>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 lg:w-1/4"></span>
                <a href="#" class="text-xs text-center text-gray-500 uppercase">Ingresa con tu correo</a>
                <span class="border-b w-1/5 lg:w-1/4"></span>
            </div>
            <div class="mt-4">
                <label class="block text-negro text-sm font-bold mb-2">Dirección electronica</label>
                <input
                    class="bg-gray-200 text-negro focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                    type="email" placeholder="Email" />
            </div>
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-negro text-sm font-bold mb-2">Contraseña</label>
                    <a href="{{url_for('auth_bp.Recuperacion')}}" class="text-xs text-gray-500">Recuperar tu
                        contraseña</a>
                </div>
                <input
                    class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                    type="password" placeholder="Password" />
            </div>
            <div class="mt-8">
                <a href="{{ url_for('auth_bp.Login') }}"
                    class="bg-primary text-white font-bold py-2 px-4 w-full rounded hover:bg-negro text-center block">
                    Login
                </a>
            </div>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 md:w-1/4"></span>
                <a href="{{url_for('auth_bp.Registro') }}" class="text-xs text-gray-500 uppercase text-center">No tienes
                    cuenta? registrate</a>
                <span class="border-b w-1/5 md:w-1/4"></span>
            </div>
        </div>

    </div>
</div>



{% endblock %}