{% extends 'base.html' %}

{% block contenido %}
<div class="h-screen flex flex-col ">
    <!-- Contenedor principal -->
    <div class="flex bg-white rounded-lg shadow-xl overflow-hidden mx-auto sm:min-w-1/2 lg:max-w-4xl my-auto">
        <div class="w-full p-8 flex flex-col">

            <div class="container flex flex-col">
                <h2 class="text-2xl font-semibold text-gray-700 text-center">Lender V3</h2>
                <div class="flex justify-center m-2">
                    <img src="../static/img/logo.svg" alt="Logo" class="w-16 h16">
                </div>
                <p class="text-xl text-negro text-center">Recupera tu contraseña</p>
                <div class="mt-4">
                    <label class="block text-negro text-sm font-bold mb-2">Dirección electronica</label>
                    <input
                        class="bg-gray-200 text-negro focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="email" placeholder="Email" />
                </div>

                <div class="mt-8">
                    <a href="{{ url_for('Login') }}"
                        class="bg-primary text-white font-bold py-2 px-4 w-full rounded hover:bg-negro text-center block">
                        Recuperar Constraseña
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}